/* Global */
.header,
.main-container,
.footer {
  -webkit-animation: fadeIn 0.5s 1s 1 forwards ease-in;
  animation: fadeIn 0.5s 1s 1 forwards ease-in;
}

/* Navigation */
.nav {
  -webkit-animation: slideInNav 1s 0.5s 1 forwards ease-in;
  animation: slideInNav 1s 0.5s 1 forwards ease-in;
}

/* Header */
.header,
.header__title,
.header__subtitle,
.header__btn {
  -webkit-animation: fadeIn 0.5s 1s 1 forwards ease-in;
  animation: fadeIn 0.5s 1s 1 forwards ease-in;
}
.header__mouse__roll {
  -webkit-animation: roll 2s infinite normal forwards;
  animation: roll 2s infinite normal forwards;
}

/* Portfolio */
.portfolio__item__hide {
  -webkit-animation: itemHide 1.1s forwards cubic-bezier(0.25, 0.1, 0.25, 1);
  animation: itemHide 1.1s forwards cubic-bezier(0.25, 0.1, 0.25, 1);
}
.portfolio__item__show {
  -webkit-animation: itemShow 1.1s forwards cubic-bezier(0.25, 0.1, 0.25, 1);
  animation: itemShow 1.1s forwards cubic-bezier(0.25, 0.1, 0.25, 1);
}

/********** Animations ************/

/*  .nav  */
@-webkit-keyframes slideInNav {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    top: -58px;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    top: 0;
    opacity: 1;
  }
}
@keyframes slideInNav {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    top: -58px;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    top: 0;
    opacity: 1;
  }
}

/* .header__mouse__roll  */
@-webkit-keyframes roll {
  0% {
    -webkit-transform: translateX(-50%) translateY(0%) scale(1, 1);
    transform: translateX(-50%) translateY(0%) scale(1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-50%) translateY(7%) scale(1.3, 0.8);
    transform: translateX(-50%) translateY(7%) scale(1.3, 0.8);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(10%) scale(1.3, 0.8);
    transform: translateX(-50%) translateY(10%) scale(1.3, 0.8);
    opacity: 0;
  }
}
@keyframes roll {
  0% {
    -webkit-transform: translateX(-50%) translateY(0%) scale(1, 1);
    transform: translateX(-50%) translateY(0%) scale(1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-50%) translateY(7%) scale(1.3, 0.8);
    transform: translateX(-50%) translateY(7%) scale(1.3, 0.8);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(10%) scale(1.3, 0.8);
    transform: translateX(-50%) translateY(10%) scale(1.3, 0.8);
    opacity: 0;
  }
}

/*  add opacity  */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*  remove opacity  */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* .portfolio__item */
@-webkit-keyframes itemHide {
  0% {
    -webkit-transform: translateX(0%) scale(1, 1);
    transform: translateX(0%) scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-20%) scale(0.8, 0.8);
    transform: translateX(-20%) scale(0.8, 0.8);
    opacity: 0.6;
  }
}
@keyframes itemHide {
  0% {
    -webkit-transform: translateX(0%) scale(1, 1);
    transform: translateX(0%) scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-20%) scale(0.8, 0.8);
    transform: translateX(-20%) scale(0.8, 0.8);
    opacity: 0.6;
  }
}
@-webkit-keyframes itemShow {
  0% {
    -webkit-transform: translateX(-20%) scale(0.8, 0.8);
    transform: translateX(-20%) scale(0.8, 0.8);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateX(0%) scale(1, 1);
    transform: translateX(0%) scale(1, 1);
    opacity: 1;
  }
}
@keyframes itemShow {
  0% {
    -webkit-transform: translateX(-20%) scale(0.8, 0.8);
    transform: translateX(-20%) scale(0.8, 0.8);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateX(0%) scale(1, 1);
    transform: translateX(0%) scale(1, 1);
    opacity: 1;
  }
}
